<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Estacionamento</title>
      <link rel="stylesheet" href="cubo.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="cubo.js"></script>
   </head>
   <body>
      <div class="wrapper">
         <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                <marquee direction="left" scrollamount="2">MILAN</marquee>
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="../index.html" title="Home">Pagina inicial</a></li>
                     <li><a href="estacionamento.html" title="Estacionamento">Vagas</a></li>
                     <li><a href="cubo.html" title="Cubo">Cubo</a></li>
                     <li><a href="contato.html" title="Contato">Contato</a></li>
                     <li><a href="localizacao.html" title="Localização">Localização</a></li>
                  </ul>
               </div>
            </nav>
            <div class="progress"></div>

<div class="cube-wrap">
  <div class="cube">
    <div class="side top">
      <marquee behavior="scroll" direction="right" scrollamount="10">
      <img src="../img/gatin2.gif"/>
    </marquee>
  </div>
    <div class="side bottom">
      <marquee behavior="scroll" direction="right" scrollamount="15">
        <img src="../img/gatin2.gif"/>
      </marquee>
    </div>
    <div class="side front">
      <marquee behavior="scroll" direction="right" scrollamount="20">
        <img src="../img/gatin2.gif"/>
      </marquee>
    </div>
    <div class="side back">
      <marquee behavior="scroll" direction="right" scrollamount="25">
        <img src="../img/gatin2.gif"/>
      </marquee>
    </div>
    <div class="side left">
      <marquee behavior="scroll" direction="right" scrollamount="30">
        <img src="../img/gatin2.gif"/>
      </marquee>
    </div>
    <div class="side right">
      <marquee behavior="scroll" direction="right" scrollamount="35">
        <img src="../img/gatin2.gif"/>
      </marquee>
    </div>
  </div>
</div>
<div>
    <script src="cubo.js"></script>
         </header>
   </body>
</html>