<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Estacionamento</title>
      <link rel="stylesheet" href="estilos.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="main.js"></script>
   </head>
   <body>
      <div class="wrapper">
         <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                  <marquee direction="left" scrollamount="2">MILAN</marquee>
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="../index.html" title="Home">Pagina inicial</a></li>
                     <li><a href="estacionamento.html" title="Estacionamento">Vagas</a></li>
                     <li><a href="cubo.html" title="Cubo">Cubo</a></li>
                     <li><a href="contato.html" title="Contato">Contato</a></li>
                     <li><a href="localizacao.html" title="Localização">Localização</a></li>
                  </ul>
               </div>
            </nav>
         </header>
         <div class="content">
            <center>
            <p><h1>
               Somos a marca de quem não fica parado
            </h1></p>
            <p><h3>
               Nossa cultura está presente em cada atitude, gesto e dia a dia dos nossos colaboradores.
            </h3></p>
            <p>
               Temos paixão pelo que fazemos, trabalhamos para sermos os melhores e priorizamos nossos clientes e usuários.
            </h3></p>
         </center>
         </div>
      </div>
   </body>
</html>