<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Estacionamento</title>
      <link rel="stylesheet" href="estilos.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="main.js"></script>
   </head>
   <body>
      <div class="wrapper">
         <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                  <marquee direction="left" scrollamount="2">MILAN</marquee>
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="../index.html" title="Home">Pagina inicial</a></li>
                     <li><a href="estacionamento.html" title="Estacionamento">Vagas</a></li>
                     <li><a href="cubo.html" title="cubo">cubo</a></li>
                     <li><a href="contato.html" title="Contato">Contato</a></li>
                     <li><a href="localizacao.html" title="Localização">Localização</a></li>
                  </ul>
               </div>
            </nav>
            <div class="local">
                <h1>Localização</h1>	
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14722.709936245717!2d-46.9929205!3d-22.703047!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2081034474f4726a!2sEscola%20SENAI%20Jaguari%C3%BAna!5e0!3m2!1spt-BR!2sbr!4v1594735513597!5m2!1spt-BR!2sbr" width="1700" height="710" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    
            </div>
         </header>
   </body>
</html>